
*.xcuserstate
CarRacing.xcworkspace/xcuserdata/ilyastyumenev.xcuserdatad/Bookmarks/bookmarks.plist
CarRacing.xcworkspace/xcuserdata/ilyastyumenev.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
